<div ng-show="placesRef">
  <h3>Route Waypoints</h3>
  <ul style="list-style: none;">
    <li ng-repeat="place in placesRef">
      <!-- edit a message -->
      <div md-whiteframe="3">
        <h3>{{place.name}}</h3>
        <p>{{place.address}}</p>
        <!-- delete a message -->
        <button ng-click="removePlace(place)">Delete Errand</button>
      </div>
    </li>
  </ul>
  <form ng-submit="getRoute()">
    <button type="submit">Route it</button>
  </form>
</div>
<div ng-hide="placesRef">
    <p>Add an errand to your route.</p>
</div>

<div class="container">
  <form ng-submit="addPlace()">
    <input id="place" type="text" ng-model="place.name" placeholder="Errand" autocomplete="off">
    <!-- <input id="duration" type="text" ng-model="place.duration" placeholder="Duration" autocomplete="off"> -->
    <button type="submit">Add Errand</button>
  </form>

    <div ng-if="render" id="map"></div>
</div>
